@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h2 class="mb-5">İLETİŞİM</h2>
        <div class="card-body">
            <h4 class="card-title">Mesaj Gönder</h4>

            <form class="forms-sample" method="post">
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Ad-Soyad</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Name" class="form-control" id="exampleInputUsername2" placeholder="Ad-Soyad">
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Mail</label>
                    <div class="col-sm-9">
                        <input type="email" asp-for="Mail" class="form-control" id="exampleInputEmail2" placeholder="Email">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Konu</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Subject" class="form-control" id="exampleInputUsername2" placeholder="Konu">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Mesaj</label>
                    <div class="col-sm-9">
                        <textarea type="text" asp-for="Message" style="height: 100px;" class="form-control" id="exampleInputUsername2" placeholder="Mesaj"></textarea>
                    </div>
                </div>
                <br />


                <button class="btn btn-outline-primary me-2">Gönder</button>
                <a href="/UI/Index" class="btn btn-secondary">Sıfırla</a>
            </form>
        </div>



    </div>
</section>
<hr class="m-0" />

