
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cv Sitesi</title>
    <link rel="icon" type="image/x-icon" href="/startbootstrap-resume-gh-pages/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/startbootstrap-resume-gh-pages/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    @await Component.InvokeAsync("_NavigationPartial")
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        @await Component.InvokeAsync("_AboutPartial")
        <!-- Experience-->
        @await Component.InvokeAsync("_ExperiencePartial")
        <!-- Education-->
        @await Component.InvokeAsync("_EducationPartial")
        <!-- Skills-->
        @await Component.InvokeAsync("_SkillPartial")

        <!-- Interests-->
        @await Component.InvokeAsync("_InterestPartial")
        <!-- Awards-->
        @await Component.InvokeAsync("_CertificationPartial")
        <!-- Projects-->
        @await Component.InvokeAsync("_ProjectPartial")
        <!-- Contacts-->
        @await Html.PartialAsync("/Views/UI/SendMessage.cshtml")

    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/startbootstrap-resume-gh-pages/js/scripts.js"></script>
</body>
</html>
